* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    font: x-large;
    font-style: oblique;
}

/* COLORS and FONTS */
body {
    color: blue;
    text-align: left;
}

header {
    margin: Black 20px;
    height: 50px;
    background: rgb(45, 195, 245);
    font-size: 150%;
    vertical-align:middle;
}

main {
    background: rgb(226, 218, 218);
    background-image: Snow;
    text-align: left;
}

footer {
    background: darkred;
}

.right-sidebar {
    background: red;
    color: gainsboro;
}

/* The links can be represented as a restyled list */
.holygrail-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.holygrail-menu a {
    display: block;
    padding: 0.5em 0;
    color: inherit;
    text-decoration: none;
    }

.holygrail-menu a:hover,.holygrail-menu a:focus {
    padding: .5em 1em;
    background: darkred;
    color: white;
    }

/* Can choose to default to cell layout or desktop layout */
/* default cell layout */
.container {
    display: flex;
    flex-direction: column;
}

.card {
    background: rgb(15, 125, 255);
    margin-top: 20px;
  }
  
  .card a {
    color: white;
    text-decoration: none;
  }
  
  .card a:hover {
    box-shadow: darkgreen;
  }
  
  .card-content {
    padding: 1.4em;
  }
  
  .card-content h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-weight: normal;
  }
  
  .card-content p {
    font-size: 95%;
    font-weight: bolder;
  }
  
  .pixHolder {
    text-align: center;
  }
  
  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 3px solid white;
    perspective: 1000px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(241, 243, 245);
    color: rgb(8, 8, 8);
    transform: rotateY(180deg);
    text-align: left;
    padding: 1em;
  }
  
  .imgpets {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 640px) {
    .cards {
      display: flex;
      flex-direction: column;
    }
    .card {
      margin-top: 5px;
    }
    .flip-card {
      border: 2px dotted green;
      margin-top: 5px;  
    }
    header {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
  
  @media screen and (min-width: 640px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
  
    .flip-card {
        flex: 0 1 calc(50% - 0.5em);
        margin-bottom: 1em;
        padding: 1em;
        max-width: 300px;
    }

    footer {
      background: darkblue;
      color: white;
      text-align: center;
      width: 100%;
    }
    
    .card {
      flex: 0 1 calc(50% - 0.5em);
      margin-bottom: 1em;
    }
  
  }
  
  @media screen and (min-width: 960px) {
    .cards {
        margin-top: inherit;
    }
  
    .flip-card {
        flex: 0 1 calc(25% - 1em);
        margin: 0.1em;
        padding: 0.3em;
    }
    
    .card {
      flex: 0 1 calc(33% - 1em);
      margin-bottom: 2em;
    }
  }